:root {
  background: rgb(247, 183, 24);
  background: linear-gradient(315deg, rgba(247, 183, 24, 1) 0%, rgba(245, 197, 78, 1) 100%);
  font-family: 'Poppins';
}



body {
  margin: 0;
  padding: 0;
  border: 0;

  width: 100%;
  height: 100vh;
  
  display: flex; 
  align-items: center;  
  justify-content: center;  
}